extends layout

block content
  h1 udid.fyi
  p To get your UDID, touch Go below and install the temporary profile. iOS will take care of the rest
  p Disclaimer: For this site to work, it needs to store your UDID in a cookie. It will expire after 10 minutes.
  p #{udid}
  h1
    a.btn(href='/stage1.mobileconfig') Go!
