extends layout

block content
  h1= title
  p Open this page on your device or follow the PDF below
  p #{udid}
  h1
    a(href='/iOSGuidInstructions.pdf') Offline Instructions PDF
    | <br/<br/>
    a.smallText(href='https://github.com/chedabob/whatismyudid') Source on github