body {
    font-size: 14pt;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-display: swap;
    background: #2193b0;
    background: linear-gradient(293deg, #2193b0, #6dd5ed);
    color: black;
    overflow: hidden;
}

@media (prefers-color-scheme: light) {

    a {
        color: #29339b;
    }
}

#Aligner {
    display: flex; /* establish flex container */
    flex-direction: column; /* make main-axis vertical */
    justify-content: center; /* align items vertically, in this case */
    align-items: center; /* align items horizontally, in this case */
    width: 100vw;
    height: 100vh;
}

#ContentBox {
    padding: 24px 48px;
    text-align: center;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-user-select: text;
}

#udid {
    word-break: break-all;
}

.smallText {
    font-size:12pt;
}

@media (prefers-color-scheme: dark) {
    body {
        color: white;
        background: #0f2027; /* fallback for old browsers */
        background: linear-gradient(293deg, #0f2027, #203a43, #2c5364); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    a {
        color: #5d737e;
    }    
}


.btn {
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    color: #e74c3c;
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    border-color: #29339b;
    color: #fff;
    box-shadow: 0 0 40px 40px #29339b inset, 0 0 0 0 #29339b;  
  }
    